<ion-content [fullscreen]="true">
  <header style="padding:5%;">
  <section>
     
     <div class="example-flex-container"></div>
  </section>    
     <ion-button routerLink="/home" color="dark">Volver</ion-button>
  </header>
   
  <div id="container">
     <div class="container" style="padding: 5%;">
       <ion-title>¡Bienvenido a TeLLevoApp!</ion-title>
       <br>
       <p>Ingrese sus datos</p>
       <br>
     </div>
     
     <div style="padding: 10%;">
       
           <div style="margin-bottom: 1rem;">
            
               <label for="nombreUsuario">Usuario</label>
               <input id="nombreUsuario" type="text" placeholder="nombreUsuario" name="nombreUsuario" ngModel=""input >
           </div>
       
           <div>
               <label for="password">Contraseña</label>
               <input id="password" type="password" placeholder="******" name="password" ngModel required>
           </div>
           <br>
           <ion-button  [routerLink]="['/inicio']" expand="full" color="dark" type="submit">Ingresar</ion-button>
      
     </div>
     <br>
     <a [routerLink]="['/passrec']">Olvidé mi contraseña</a>
 
     
  </div>
 
 </ion-content>