<ion-content [fullscreen]="true">
  <header style="padding: 5%;">
    <section>
      <div class="example-flex-container"></div>
    </section>
  </header>

  <div id="container">
    <div class="container" style="padding: 5%;">
      <ion-title>¡Bienvenido a TeLLevoApp!</ion-title>
      <br>
      <p>Ingrese sus datos</p>
      <br>
    </div>

    <div style="padding: 10%;">
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de Usuario</ion-label>
          <ion-checkbox formControlName="tipoUsuario" value="conductor">Conductor</ion-checkbox>
          <ion-checkbox formControlName="tipoUsuario" value="pasajero">Pasajero</ion-checkbox>
        </ion-item>
      </form>

      <br>
      <ion-button (click)="ingresar()" color="dark">Ingresar</ion-button>
    </div>

    <br>
    <a [routerLink]="['/passrec']">Olvidé mi contraseña</a>
    <br>
    <a [routerLink]="['/registro']">¿No tienes cuenta? Regístrate</a>
  </div>
</ion-content>
