<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Creacion de viaje </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-background">
  <form [formGroup]="viajeForm" (ngSubmit)="crearViaje()">
    <ion-item>
      <ion-label position="floating">Inicio ㊙️</ion-label>
      <ion-input formControlName="inicio" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Destino 🚞</ion-label>
      <ion-input formControlName="destino" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora de Salida ⌚</ion-label>
      <ion-datetime formControlName="horaSalida" presentation="time" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio por persona</ion-label>
      <ion-input formControlName="precio" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Crear Viaje</ion-button>

  </form>
  <br>
  <ion-button expand="full" id="present-alert" color="warning">Cancelar Viaje</ion-button>
  <ion-alert trigger="present-alert" class="custom-alert" header="Estas Seguro?🤔" [buttons]="alertButtons"></ion-alert>
</ion-content>