<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Creacion de viaje </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CreacionVi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">Lugar de destino</ion-label>
    <ion-input placeholder="Ingrese su destino"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ubicación </ion-label>
    <ion-input placeholder="Ingrese su ubicación de recogida"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de Vehículo</ion-label>
    <ion-select placeholder="Seleccione el tipo de vehículo">
      <ion-select-option value="autox">Chevrolet</ion-select-option>
      <ion-select-option value="autoxl">Nissan</ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Número de Pasajeros</ion-label>
    <ion-input type="number" min="1" [(ngModel)]="passengerCount" (ionChange)="updateTotalCost()"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Costo Total ($)</ion-label>
    <ion-input type="text" [value]="totalCost" readonly></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="requestTrip()">Crear viaje</ion-button>
    <br>
  <ion-button   color="danger"   expand="full" (click)="salir()">cancelar viaje</ion-button>
</ion-content>

