<ion-content [fullscreen]="true">
  <header style="padding: 5%;">
    <section>
      <div class="example-flex-container"></div>
    </section>    
  </header>
  <ion-title>¡Bienvenido Pasajero 😎!</ion-title>
  <br>
  <ion-card>
    Aqui puede Solicitar su viaje 
    <ion-card-content>
  
  
  <br>
  
  <ion-button (click)="cargarViajes()">Buscar Viajes</ion-button>

  <ion-list *ngIf="mostrarViajes">
    
      <ion-card *ngFor="let viaje of viajes">
        <ion-card-header>
          Datos del conductor**
        </ion-card-header>
        <p>Hora salida: {{ viaje.hora_salida }}</p>
        <p>Desde: {{ viaje.lugarInicio }}</p>
        <p>Destino: {{ viaje.destino }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <a href="">
          Solicitar asiento
        </a>
      </ion-card>

  </ion-list>
  <ion-item>
    
    <ion-label>Se quiere ir?</ion-label>
    <ion-button color="danger" (click)="salir()">Cerrar Sesion</ion-button>
  </ion-item>
  

  