<ion-content [fullscreen]="true">
  <header style="padding: 5%;">
    <section>
      <div class="example-flex-container"></div>
    </section>    
    <ion-button routerLink="/home" color="dark">Volver</ion-button>
  </header>
  <ion-title>¡Bienvenido {{username}}</ion-title>
  <br>
  <h2>Coloque su sede y su localizacion</h2>
  <ion-list>
    <ion-item>
      <ion-input label="Universidad/Ip"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Sede" placeholder="opcional*"></ion-input>
    </ion-item>
    

  </ion-list>
  
  <ion-button expand="block" (click)="presentToast('bottom')">Buscar conductor</ion-button>

  