<ion-toolbar>
  <ion-title>¡Bienvenido Pasajero 😎! </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button (click)="cargarViajes()">Buscar Viajes</ion-button>
    <ion-list *ngIf="mostrarViajes">
      <ion-card *ngFor="let viaje of viajes">
        <ion-card-header>
          Datos del conductor**
        </ion-card-header>
        <p>Hora salida: {{ viaje.hora_salida }}</p>
        <p>Desde: {{ viaje.lugarInicio }}</p>
        <p>Destino: {{ viaje.destino }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
        <ion-button (click)="mostrarAlerta()">Solicitar</ion-button>
        <a href="">
          Solicitar asiento
        </a>

      </ion-card>
    </ion-list>
  </ion-item>
  <ion-button color="danger" (click)="salir()">Cerrar Sesion</ion-button>
  <ion-img class="custom-image" src="assets/image/estacionamiento.png"></ion-img>
</ion-content>