<ion-content [fullscreen]="true">
  <header style="padding:5%;">
  <section>
     
     <div class="example-flex-container"></div>
  </section>    
     <ion-button routerLink="/home" color="dark">Volver</ion-button>
  </header>
   
  <div id="container">
     <div class="container" style="padding: 5%;">
       <ion-title>¡Bienvenido a TeLLevoApp!</ion-title>
       <br>
       <p>Registrate</p>
       <br>
     </div>
     
     <div style="padding: 10%;">
       
         <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
            <ion-item>
               <ion-label position="floating">Usuario</ion-label>
               <ion-input formControlName="usuario"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position="floating">contraseña</ion-label>
               <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirme contraseña</ion-label>
              <ion-input formControlName="ConfirmacionPassword" type="password"></ion-input>
           </ion-item>
         </form>
         <br>
         <ion-button (click)="guardar()" >Registrarse</ion-button>
     </div>
  </div>
 
 </ion-content>